<%= component :main_flex do %>
  <%= component :pane, "Reset Your Password" do %>
    <div id="clearance" class="password-reset">
      <p class="pb-4"><%= t(".description") %></p>
     <%= render partial: "users/form", locals: {user: @user} %>
    </div>
  <% end %>
<% end %>
