<main class="flex w-full h-full items-center justify-center">
  <%= render PaneComponent.new title: "Guest Home",
                               subtitle: "Find me in app/views/pages/home.html.erb" do %>
    <p>Here is what is going on...</p>
  <% end %>
</main>