<%= component :main_flex, class: 'pb-64' do %>
  <%= component :pane, "Guest HomeComponent", "Find me in app/views/pages/home.html.erb" do %>
    <p>
      Here is what is going on...
      <%= component :icon, :user %>
    </p>
  <% end %>
<% end %>>