<main class="pb-64 flex w-full h-full items-center justify-center">
  <%= render PaneComponent.new title: "Members Home",
                               subtitle: "Find me in app/views/members/home.html.erb",
                               classes: "" do %>
    <p>
      Members home page content goes here.
    </p>
  <% end %>
</main>